*.log
*.pid
coverage
uuid.state
.DS_Store
database.yml
schema.rb
panda_init.rb
panda_*.god
panda_nginx.conf
videos/*
config/mailer.rb
config/deploy.rb
config/panda_init_*.rb
panda_all_staging_nginx.conf
public/images/tmp/*jpg
public/store
public/tmp
.autotest
gems/gems/*/ext
*.bundle
