# Example for mysql
#
# :development: &defaults
#   :adapter: mysql
#   :database: panda_development
#   :username: root
#   :password: 
#   :host: localhost
#   :socket: 
#   :encoding: utf8
# 

:development: &defaults
  :adapter: simpledb
  :domain: <%= Panda::Config[:sdb_domain] %>
  :access_key: <%= Panda::Config[:access_key_id] %>
  :secret_key: <%= Panda::Config[:secret_access_key] %>

:test:
  :adapter: simpledb
  :domain: panda_test
  :host: localhost
  :url: http://localhost:8087
  :access_key: test
  :secret_key: test

# :test:
#   :adapter: mysql
#   :database: panda_test
#   :username: root
#   :password: 
#   :host: localhost
#   :encoding: utf8

:production:
  <<: *defaults
  :database: panda_production
  
:rake:
  <<: *defaults
