<h1>Select a screenshot to use for this video</h1>

<ul id="screenshots">
  <% @percentages.each do | percentage |%>
    <li><%= link_to image_tag(@video.clipping(percentage).url(:thumbnail)), "/videos/#{@video.key}/thumbnail/update?percentage=#{percentage}&iframe=#{params[:iframe]}" %></li>
  <% end %>
</ul>